{
  "env": {
    "test": {
      "presets": [
        "jest",
        "stage-0",
        "react",
        "env"
      ]
    }
  },
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ]
}
