{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:jest/recommended"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react",
    "jest"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,

    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,
    "semi": [2, "always"],
    "brace-style": ["off"],
    "standard/no-callback-literal": ["off"]
  }
}
